include requirements.txt
recursive-include subdosec_/config *
include subdosec_/node/*
recursive-include subdosec_/presentation/web_dashboard/static *
prune subdosec_/node/node_modules
global-exclude *.pyc
global-exclude __pycache__